extends layout



block vars
	- var datas = records.datas_en
	span.flag-lang#en

block content
	div.slides-container
		div.slides-inner
			div.slide
				img(src="img/1.jpg")
			div.slide
				img(src="img/2.jpg")
			div.slide
				img(src="img/3.jpg")
			div.slide
				img(src="img/4.jpg")
			div.slide
				img(src="img/5.jpg")
			div.slide
				img(src="img/6.jpg")
			div.slide
				img(src="img/7.jpg")
			div.slide
				img(src="img/8.jpg")
			div.slide
				img(src="img/9.jpg")
			div.slide
				img(src="img/10.jpg")

	div.overlay
		i.volume.icon-volume-up

	audio#main-sound(autoplay loop)
		source(src="audio/1.wav" type="audio/wav")
						