extends layout



block vars
	- var datas = records.datas
	span.flag-lang#fr

block content
	div.slides-container
		div.slides-inner
					

	div.overlay
		i.volume.icon-volume-up

	audio#main-sound(autoplay loop)
		source(src="audio/1.wav" type="audio/wav")
						