extends layout



block vars
	- var datas = records.datas
	span.flag-lang#fr

block content

	div.intro-overlay
		div.intro-content
			img.logo(src="img/logo.jpg")
			p Cette frise sonore et dessinée est le fruit d’un voyage de 3 semaines au Mexique, depuis la capitale jusqu’au golfe de la mer des caraïbes. 
			p Pour embarquer, scrollez avec votre souris et utilisez un casque audio. 
			p Bon voyage !
			p Réalisation : Gala Vanson & Jimmy Boury
			span.cta.cta-start commencer

	div.slides-container
		div.slides-inner

	div.overlay
		i.volume.icon-volume-up

	audio#sound-1(autoplay loop preload)
		source(src="audio/1.mp3" type="audio/mpeg")
	audio#sound-2(preload loop)
		source(src="audio/2.mp3" type="audio/mpeg")
	audio#sound-3(preload loop)
		source(src="audio/3.mp3" type="audio/mpeg")
	audio#sound-4(preload loop)
		source(src="audio/4.mp3" type="audio/mpeg")
	audio#sound-5(preload loop)
		source(src="audio/5.mp3" type="audio/mpeg")
	audio#sound-6(preload loop)
		source(src="audio/6.mp3" type="audio/mpeg")
	audio#sound-7(preload loop)
		source(src="audio/7.mp3" type="audio/mpeg")
	audio#sound-8(preload loop)
		source(src="audio/8.mp3" type="audio/mpeg")
	audio#sound-9(preload loop)
		source(src="audio/9.mp3" type="audio/mpeg")
	audio#sound-10(preload loop)
		source(src="audio/10.mp3" type="audio/mpeg")
						