doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Mexico')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    //- Favicon
    link(rel='icon', sizes='16x16 32x32 96x96 128x128', href='/favicon.ico')
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon.png")

    //- meta(property="og:url" content="")
    meta(property="og:title" content="Carnets sonores - Mexique")
    meta(property="og:description" content="Cette frise sonore et dessinée est le fruit d’un voyage de 3 semaines au Mexique, depuis la capitale jusqu’au golfe de la mer des caraïbes. Par Gala Vanson & Jimmy Boury")
    meta(property="og:image" content="img/share.png")

    //- Twitter card infos
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="Carnets sonores - Mexique")
    meta(name="twitter:description" content="Cette frise sonore et dessinée est le fruit d’un voyage de 3 semaines au Mexique, depuis la capitale jusqu’au golfe de la mer des caraïbes. Par Gala Vanson & Jimmy Boury")
    meta(name="twitter:image" content="img/share.png")
    title Carnets Sonores - Mexique
    != css()

  body

    block vars

    include templates/header
    block content
    include templates/footer

    script(src="js/lib/analytics.js")
    script(src="js/templates.js")
    script(src='js/build.js')
