// bower:scss
// endbower

// Variables
@import "partials/base"; 

// Partials
@import "partials/reset";
@import "partials/typography";
@import "partials/ease";

// Modules

body {font-size: 14px ;}

.orientation-overlay {
	display: none;
	width: 100% ; 
	height: 100vh ; 
	position: fixed;
	background-color: white ; 
	z-index: 50 ; 
	img {
		max-width: 100% ; 
		position: absolute;
		@include centered-align() ; 
	}
}

.intro-overlay {
	position: absolute;
	top: 0 ; left: 0 ; right: 0 ; bottom: 0 ; 
	background-color: white ;
	z-index: 10 ; 

	.intro-content {
		position: absolute; 
		width: 70% ; 
		min-width: 500px ; 
		@include centered-align() ; 
		img {max-width: 100% ; max-height : 100% ; display: block;}
		.flex {display: flex ; align-items : center; justify-content : space-between;}
		
		img.logo {margin-bottom: 0px ; width: 100% ;  }
		img.intro {width: 75%}
		.cta-container {
			position: relative;
			width: 200px ;
			height: 80px ; 
			text-align: center ; 
			img {
				position: absolute;
				@include centered-align() ;
				&.cta-start, &.cta-start-on {visibility: hidden; cursor: pointer;}
				&.cta-start.active {visibility: visible;}
			}
			&:hover {
				img.cta-start.active {visibility: hidden;}
				img.cta-start-on {visibility: visible;}
			}
		}
	}
}

.slides-container {
	
	height: 100vh ; 
	overflow-x: hidden;

	.tuto {
		position: absolute;
		bottom : 10vh; 
		left: 70vw ; 
		z-index: 5;
		max-width: 20vw ; 
	}
	.slides-inner {
		height: 100% ;
		display: flex ; 
		img {
			position: relative;
			height: 80vh ; 
			margin: 10vh 10px ;     
		}
	}
}

.overlay {
	z-index: 10 ; 
	position: fixed;
	pointer-events : none;
	top: 0 ; bottom: 0 ; right: 0 ; left: 0 ; 

	img.volume {
		pointer-events : auto;
		font-size: 1.7em ; 
		cursor: pointer;
	}

	.icon-volume-on, .icon-volume-off {
		position: absolute;
		bottom : 2%; right: 5% ;
		height: 6vh ; min-height: 25px ;  
	}  
	.icon-volume-off {visibility: hidden;}
}

@media only screen and (max-device-width : 768px) and (orientation : portrait) {
	.orientation-overlay {
		display: block;
	}
}